{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}
<section class="account d-flex">
    <img src="{% static 'assets/images/thumbs/account-img.png' %}" alt="" class="account__img">
    <div class="account__left d-md-flex d-none flx-align section-bg position-relative z-index-1 overflow-hidden">
        <img src="{% static 'assets/images/shapes/pattern-curve-seven.png' %}" alt=""
            class="position-absolute end-0 top-0 z-index--1 h-100">
        <div class="account-thumb">
            <img src="{% static 'assets/images/thumbs/banner-img.png' %}" alt="">
            <div class="statistics animation bg-main text-center">
                <h5 class="statistics__amount text-white">50k</h5>
                <span class="statistics__text text-white font-14">Customers</span>
            </div>
        </div>
    </div>
    <div class="account__right padding-y-120 flx-align">
        <div class="account-content">
            <a href="index.html" class="logo mb-64">
                <img src="{% static 'assets/images/logo/logo.png' %}" alt="" class="white-version">
                <img src="{% static 'assets/images/logo/white-logo-two.png' %}" alt="" class="dark-version">
            </a>
            <h4 class="account-content__title mb-48 text-capitalize">Bienvenido de nuevo!</h4>

            <form method="post">
                {% csrf_token %}
                <div class="row gy-4">
                    <div class="col-12">
                        <label for="email" class="form-label mb-2 font-18 font-heading fw-600">Nombre de usuario</label>
                        <div class="position-relative">
                            <input type="text" name="login" class="common-input common-input--bg common-input--withIcon" id="email"
                                placeholder="CertusArt">
                            <span class="input-icon"><img src="{% static 'assets/images/icons/envelope-icon.svg' %}"
                                    alt=""></span>
                        </div>
                        {% if form.login.errors %}
                           <p class="text-danger">{{ form.login.errors.0 }}</p>
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <label for="your-password" class="form-label mb-2 font-18 font-heading fw-600">Contraseña</label>
                        <div class="position-relative">
                            <input type="password" name="password" class="common-input common-input--bg common-input--withIcon"
                                id="your-password" placeholder="6+ caracteres, 1 Mayúscula">
                            <span class="input-icon toggle-password cursor-pointer" id="#your-password"><img
                                    src="{% static 'assets/images/icons/lock-icon.svg' %}" alt=""></span>
                        </div>
                        {% if form.password.errors %}
                           <p class="text-danger">{{ form.password.errors.0 }}</p>
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <div class="flx-between gap-1">
                            <div class="common-check my-2">
                                <input class="form-check-input" type="checkbox" name="checkbox" id="keepMe">
                                <label class="form-check-label mb-0 fw-400 font-14 text-body" for="keepMe">Recordarme</label>
                            </div>
                            <a href="#"
                                class="forgot-password text-decoration-underline text-main text-poppins font-14">Olvidaste
                                tu contraseña?</a>
                        </div>
                    </div>
                    {% if form.non_field_errors %}
                        <p class="text-danger text-center">{{ form.non_field_errors.0 }}</p>
                    {% endif %}

                    {% if request.GET.password_changed %}
                        {% if not form.non_field_errors %}
                        <p class="text-success text-center">Contraseña cambiada correctamente, inicia sesión con tu nueva contraseña.</p>
                        {% endif %}
                    {% endif %}
                    <div class="col-12">
                        <button type="submit" class="btn btn-main btn-lg w-100 pill"> Iniciar Sesión</button>
                    </div>
                    <div class="col-12">
                        <a href="{% provider_login_url 'google' %}" class="btn btn-outline-light btn-lg-icon btn-lg w-100 pill">
                            <span class="icon icon-left"><img src="{% static 'assets/images/icons/google.svg' %}"
                                    alt=""></span>
                            Iniciar Sesión con Google
                        </a>
                    </div>
                    <div class="col-sm-12 mb-0">
                        <div class="have-account">
                            <p class="text font-14">¿Nuevo en el mercado? <a
                                    class="link text-main text-decoration-underline fw-500" href="{% url 'account_signup' %}">registrarse</a></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}