{% load static %}
<header class="header">
    <div class="container container-full">
        <nav class="header-inner flx-between">
            <div class="logo">
                <a href="{% url 'pages:index' %}" class="link white-version">
                    <img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo">
                </a>
                <a href="{% url 'pages:index' %}" class="link dark-version">
                    <img src="{% static 'assets/images/logo.png' %}" style="height: 100px; width: 150px; object-fit: cover;" alt="Logo">
                </a>
            </div>

            <div class="header-menu d-lg-block d-none">

                <ul class="nav-menu flx-align ">
                    <li class="nav-menu__item">
                        <a href="{% url 'pages:index' %}" class="nav-menu__link">Inicio</a>
                    </li>
                    <li class="nav-menu__item">
                        <a href="{% url 'shop:products' %}" class="nav-menu__link">Productos</a>
                    </li>
                    <li class="nav-menu__item">
                        <a href="javascript:void(0)" class="nav-menu__link">Categorias</a>
                    </li>
                    <li class="nav-menu__item">
                        <a href="javascript:void(0)" class="nav-menu__link">Blog</a>
                    </li>
                    <li class="nav-menu__item">
                        <a href="javascript:void(0)" class="nav-menu__link">Contacto</a>
                    </li>
                </ul>
            </div>

            <div class="header-right flx-align">
                <a href="{% url 'shop:cart' %}" class="header-right__button cart-btn position-relative">
                    <img src="{% static 'assets/images/icons/cart.svg' %}" alt="" class="white-version">
                    <img src="{% static 'assets/images/icons/cart-white.svg' %}" alt="" class="dark-version">
                </a>

                <div class="header-right__inner gap-3 flx-align d-lg-flex d-none">

                    <a href="{% if request.user.is_authenticated %}{% url 'profile' request.user.username %}{% else %}{% url 'account_signup' %}{% endif %}" class="btn btn-main pill">
                        <span class="icon-left icon">
                            <img src="{% static 'assets/images/icons/user.svg' %}" alt="">
                        </span>
                        {% if request.user.is_authenticated %}
                            {{ request.user.username }}
                        {% else %}
                            Crear cuenta
                        {% endif %}
                    </a>
                </div>
                <button type="button" class="toggle-mobileMenu d-lg-none"> <i class="las la-bars"></i> </button>
            </div>
        </nav>
    </div>
</header>
