{% extends 'base.html' %}
{% load static %}

{% block title %}Carrito{% endblock %}

{% block content %}
<section class="breadcrumb breadcrumb-four padding-static-y-60 section-bg position-relative z-index-1 overflow-hidden">

    <img src="{% static 'assets/images/gradients/breadcrumb-gradient-bg.png' %}" alt="" class="bg--gradient">

    <img src="{% static 'assets/images/shapes/element-moon3.png' %}" alt="" class="element one">
    <img src="{% static 'assets/images/shapes/element-moon1.png' %}" alt="" class="element three">
    
    <div class="container container-two">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb-four-content">
                    <h3 class="breadcrumb-four-content__title text-center mb-3 text-capitalize">Carrito</h3>
                    <ul class="breadcrumb-list flx-align justify-content-center gap-2 mb-2">
                        <li class="breadcrumb-list__item font-14 text-body">
                            <a href="{% url 'pages:index' %}" class="breadcrumb-list__link text-body hover-text-main">Inicio</a>
                        </li>
                        <li class="breadcrumb-list__item font-14 text-body">
                            <span class="breadcrumb-list__icon font-10"><i class="fas fa-chevron-right"></i></span>
                        </li>
                        <li class="breadcrumb-list__item font-14 text-body">
                            <span class="breadcrumb-list__text">Carrito</span>
                        </li>
                    </ul>

                    <ul class="process-list">
                        <li class="process-list__item activePage">
                            <a href="#" class="process-list__link">
                                <div class="icons">
                                    <span class="icon white"><img src="{% static 'assets/images/icons/process-white1.svg' %}" alt=""></span>
                                </div>
                                <span class="text">Mi Carrito</span>
                            </a>
                        </li>
                        <li class="process-list__item ">
                            <a href="#" class="process-list__link">
                                <div class="icons">
                                    <span class="icon white"><img src="{% static 'assets/images/icons/process-white2.svg' %}" alt=""></span>
                                    <span class="icon colored"><img src="{% static 'assets/images/icons/process2.svg' %}" alt=""></span>
                                </div>
                                <span class="text">Informacion Personal</span>
                            </a>
                        </li>
                        <li class="process-list__item ">
                            <a href="#" class="process-list__link">
                                <div class="icons">
                                    <span class="icon white"><img src="{% static 'assets/images/icons/process-white3.svg' %}" alt=""></span>
                                    <span class="icon colored"><img src="{% static 'assets/images/icons/process3.svg' %}" alt=""></span>
                                </div>
                                <span class="text">Metodo de Pago</span>
                            </a>
                        </li>
                        <li class="process-list__item">
                            <a href="#" class="process-list__link">
                                <div class="icons">
                                    <span class="icon white"><img src="{% static 'assets/images/icons/process-white4.svg' %}" alt=""></span>
                                    <span class="icon colored"><img src="{% static 'assets/images/icons/process4.svg' %}" alt=""></span>
                                </div>
                                <span class="text">Resumen</span>
                            </a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<div class="cart padding-y-120">
    <div class="container">
        <div class="cart-content">
            <div class="table-responsive">
                <table class="table style-two">
                    <thead>
                      <tr>
                        <th>Producto</th>
                        <th>Autor</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody id="cart-items">
                        {% for product in products %}
                        <tr>
                            <td>

                                <div class="cart-item">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="cart-item__thumb">
                                            <a href="{% url 'shop:product' product.slug %}" class="link">
                                                <img src="{{ product.get_featured_image }}" alt="" class="cover-img">
                                            </a>
                                        </div>
                                        <div class="cart-item__content">
                                            <h6 class="cart-item__title font-heading fw-700 text-capitalize font-18 mb-4"> <a href="{% url 'shop:product' product.slug %}" class="link">{{ product.name }}</a></h6>
                                            <span class="cart-item__price font-18 text-heading fw-500">Category: <span class="text-body font-14">{{ product.category.name }}</span></span>
                                        </div>
                                    </div>
                                    <div class="flx-align gap-4 mt-3 mt-lg-4">
                                        <button type="button" class="rounded-btn delete-btn text-danger hover-text-decoration-underline btn-delete" data-product-id="{{ product.id }}">Eliminar</button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="cart-item__totalPrice text-body font-18 fw-400 mb-0">{{ product.creator.username }}</span>
                            </td>
                            <td>
                                <span class="cart-item__totalPrice text-body font-18 fw-400 mb-0">${{ product.price }}</span>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">
                                <p class="font-18 text-body">No hay productos en el carrito</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="cart-content__bottom flx-between gap-2">
                <a href="javascript:void(0);" class="btn btn-outline-light flx-align gap-2 pill btn-lg"> 
                    <span class="icon line-height-1 font-20"><i class="las la-arrow-left"></i></span> 
                    Continuar comprando
                </a>
                {% if products %}
                <a href="javascript:void(0);" class="btn btn-main flx-align gap-2 pill btn-lg" id="create-checkout-session"> 
                    Siguiente
                    <span class="icon line-height-1 font-20"><i class="las la-arrow-right"></i></span> 
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const deleteButtons = document.querySelectorAll('.btn-delete');
        deleteButtons.forEach(button => {
            button.addEventListener('click', function() {
                const productId = this.getAttribute('data-product-id');
                fetch(`/remove-from-cart/${productId}/`, {
                    method: 'POST',
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        if (data.length === 0) {
                            document.getElementById('cart-items').innerHTML = '<tr><td colspan="4" class="text-center"><p class="font-18 text-body">No hay productos en el carrito</p></td></tr>';
                        }
                    }
                });
            });
        });

        const createCheckoutSession = document.getElementById('create-checkout-session');
        createCheckoutSession.addEventListener('click', function() {
            createCheckoutSession.disabled = true;
            createCheckoutSession.textContent = 'Procesando...';
            fetch('/create-checkout-session/', {
                method: 'POST',
            })
            .then(response => response.json())
            .then(data => {
                if (data.url) {
                    window.location.href = data.url;
                } else {
                    window.location.href = window.location.origin + '/accounts/login/?login=1';
                }
            })
            .catch(error => {
                console.error('Error al crear la sesión de checkout:', error);
            }).finally(() => {
                createCheckoutSession.disabled = false;
                createCheckoutSession.textContent = 'Siguiente';
            });
        });
    });
</script>
{% endblock content %}