{% extends 'base.html' %}
{% load static %}

{% block title %}Productos{% endblock %}

{% block content %}
<section class="breadcrumb breadcrumb-one padding-y-60 section-bg position-relative z-index-1 overflow-hidden">

    <img src="{% static 'assets/images/gradients/breadcrumb-gradient-bg.png' %}" alt="" class="bg--gradient">

    <img src="{% static 'assets/images/shapes/element-moon3.png' %}" alt="" class="element one">
    <img src="{% static 'assets/images/shapes/element-moon1.png' %}" alt="" class="element three">

    <div class="container container-two">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="breadcrumb-one-content">
                    <h3 class="breadcrumb-one-content__title text-center mb-3 text-capitalize">58,000+ productos
                        disponibles para compra</h3>
                    <p class="breadcrumb-one-content__desc text-center text-black-three">Explora los mejores productos digitales en la plataforma</p>

                    <form action="{% url 'shop:products' %}" class="search-box">
                        <input type="text" name="search" class="common-input common-input--lg pill shadow-sm"
                            placeholder="Buscar productos..." value="{{ request.GET.search }}">
                        <button type="submit" class="btn btn-main btn-icon icon border-0">
                            <img src="{% static 'assets/images/icons/search.svg' %}" alt="">
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="all-product padding-y-120">
    <div class="container container-two">
        <div class="row">
            <div class="col-lg-12">
                <div class="filter-tab gap-3 flx-between">
                    <ul class="nav common-tab nav-pills mb-0 gap-lg-2 gap-1 ms-lg-auto" id="pills-tab"
                        role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-product-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-product" type="button" role="tab"
                                aria-controls="pills-product" aria-selected="true">Todos</button>
                        </li>
                    </ul>
                    <div class="list-grid d-flex align-items-center gap-2">
                        <button class="list-grid__button grid-button d-sm-flex d-none active text-body"><i
                                class="las la-border-all"></i></button>
                        <button class="list-grid__button sidebar-btn text-body d-lg-none d-flex"><i
                                class="las la-bars"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4">
                <div class="filter-sidebar">
                    <button type="button"
                        class="filter-sidebar__close p-2 position-absolute end-0 top-0 z-index-1 text-body hover-text-main font-20 d-lg-none d-block"><i
                            class="las la-times"></i></button>
                    <div class="filter-sidebar__item">
                        <button type="button"
                            class="filter-sidebar__button font-16 text-capitalize fw-500">Categoria</button>
                        <div class="filter-sidebar__content">
                            <ul class="filter-sidebar-list">
                                {% for category in categories %}
                                <li class="filter-sidebar-list__item">
                                    <a href="{% url 'shop:products' %}?category={{ category }}" class="filter-sidebar-list__text">
                                        {{ category.name }} <span class="qty">{{ category.products.count }}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="filter-sidebar__item">
                        <button type="button"
                            class="filter-sidebar__button font-16 text-capitalize fw-500">Calificación</button>
                        <div class="filter-sidebar__content">
                            <ul class="filter-sidebar-list">
                                <li class="filter-sidebar-list__item" data-rating="all">
                                    <div class="filter-sidebar-list__text">
                                        <div class="common-check common-radio">
                                            <input class="form-check-input" type="radio" name="radio" id="veiwAll">
                                            <label class="form-check-label" for="veiwAll"> Ver todo</label>
                                        </div>
                                        <span class="qty">({{ rating.all }})</span>
                                    </div>
                                </li>
                                <li class="filter-sidebar-list__item" data-rating="1">
                                    <div class="filter-sidebar-list__text">
                                        <div class="common-check common-radio">
                                            <input class="form-check-input" type="radio" name="radio" id="oneStar">
                                            <label class="form-check-label" for="oneStar"> 1 Estrella</label>
                                        </div>
                                        <span class="qty">({{ rating.one_star }})</span>
                                    </div>
                                </li>
                                <li class="filter-sidebar-list__item" data-rating="2">
                                    <div class="filter-sidebar-list__text">
                                        <div class="common-check common-radio">
                                            <input class="form-check-input" type="radio" name="radio" id="twoStar">
                                            <label class="form-check-label" for="twoStar"> 2 Estrellas</label>
                                        </div>
                                        <span class="qty">({{ rating.two_star }})</span>
                                    </div>
                                </li>
                                <li class="filter-sidebar-list__item" data-rating="3">
                                    <div class="filter-sidebar-list__text">
                                        <div class="common-check common-radio">
                                            <input class="form-check-input" type="radio" name="radio"
                                                id="threeStar">
                                            <label class="form-check-label" for="threeStar"> 3 Estrellas</label>
                                        </div>
                                        <span class="qty">({{ rating.three_star }})</span>
                                    </div>
                                </li>
                                <li class="filter-sidebar-list__item" data-rating="4">
                                    <div class="filter-sidebar-list__text">
                                        <div class="common-check common-radio">
                                            <input class="form-check-input" type="radio" name="radio" id="fourStar">
                                            <label class="form-check-label" for="fourStar"> 4 Estrellas</label>
                                        </div>
                                        <span class="qty">({{ rating.four_star }})</span>
                                    </div>
                                </li>
                                <li class="filter-sidebar-list__item" data-rating="5">
                                    <div class="filter-sidebar-list__text">
                                        <div class="common-check common-radio">
                                            <input class="form-check-input" type="radio" name="radio" id="fiveStar">
                                            <label class="form-check-label" for="fiveStar"> 5 Estrellas</label>
                                        </div>
                                        <span class="qty">({{ rating.five_star }})</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-product" role="tabpanel"
                        aria-labelledby="pills-product-tab" tabindex="0">
                        <div class="row gy-4 list-grid-wrapper">
                            {% for product in products %}
                            {% include 'includes/product-card.html' %}
                            {% empty %}
                            <div class="col-12">
                                <div class="text-center">No hay productos disponibles</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const ratingElements = document.querySelectorAll('.filter-sidebar-list__item');
    const url = new URL(window.location.href);
    const rating = url.searchParams.get('rating');

    if (rating) {
        const ratingElement = document.querySelector(`[data-rating="${rating}"]`);
        const radioInput = ratingElement.querySelector('input[type="radio"]');
        radioInput.checked = true;
    }

    ratingElements.forEach(element => {
        element.addEventListener('click', () => {
            window.location.href = '/shop/?rating=' + element.getAttribute('data-rating');
        });
    });
</script>
{% endblock %}